{% include "header.html" %}

<link href="stylesheets/generatedpoem.css" rel="stylesheet">
  <body>
<!--    <div class="metapoets">
      <h2>METApoetry</h2>
    </div> -->
   <div id="#image"></div>
    <br><br><br>
    <div class="poem">  
      <div class="backdrop">
        <div>
          <h3 id="poemtitle">Her lips are copper wire <br> {{ title }}</h3>
        </div>

        <p> {{ poem }} beep </p>
    </div>
<!--    <div class="bottombar"> METApoetry! Make your own<a href="http://metapoems.appspot.com">here</a>
    </div> -->   

    <script type="text/javascript" src="js/flickr.js"></script>

{% include "footer.html" %}