{% include "header.html" %}    

<link href="stylesheets/makePoem.css" rel= "stylesheet">
<script type="text/javascript" href="js/makePoem.js"></script>
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<body>
<div id="header"> <h1>Metapoems</h1></div>
<div id= "subtitle"><h3><em>Generate a poem in an author's style:</em></h3> </div>

<div id="mid-bottom">
<!-- <div id="fb">
  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" >
    Log into your creative side via Facebook
  </div>
</div> -->

<div> 
<fb:login-button scope="public_profile,email,user_status" onlogin="checkLoginState();">
</fb:login-button> </div>

<div id="background">
  <div id="paper">
    
    <div id="authorimg"> 
        
                <div class="outer">
                    <div class="image">
                        <a href="/poem?link=shelley"><img id="shelley" class="apic" src="img/shelly.jpg"</a>
                    </div>
                </div>
                <div class="outer">
                    <div class="image">
                        <a id="lewis" href="/poem?link=lewiscaroll"><img class="apic" src="img/lewiscaroll.jpg"</a>
                    </div>
                </div>
                <div class="outer">
                    <div class="image">
                        <a id="nabokov" href="/poem?link=nabokov"><img class="apic" src="img/Vladimir-Nabokov.jpg"</a>
                    </div>
                </div>
                <div class="outer">
                    <div class="image">
                        <a href="/poem?link=tseliot"><img class="apic" src="img/eliot_main_lg.jpg"</a>
                    </div>

                
            <div class="outer">
                <div class="image">
                    <a href="/poem?link=shakespeare_medium1"><img class="apic" src="img/Shakespeare_Droeshout_1623.jpg"</a>
                </div>
            </div>
    </div>
    
            <div class="outer">
                <div class="image">
                    <a href="/poem?link=dante"><img class="apic" src="img/dante.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=lordbyron"><img class="apic" src="img/lordbyron.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=milton"><img class="apic" src="img/milton.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=whitman"><img class="apic" src="img/walt-whitman.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="poem?link=poe"><img class="apic" src="img/Edgar_Allen_Poe_1898.jpg"</a>
                </div>
            </div>
       

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=angelou"><img class="apic" src="img/mayaangelou.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=homer"><img class="apic" src="img/homer.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=kipling"><img class="apic" src="img/kipling.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=frost"><img class="apic" src="img/youngfrost.jpg"</a>
                </div>
            </div>

            <div class="outer">
                <div class="image">
                    <a href="/poem?link=melville"><img class="apic" src="img/melville.jpg"</a>
                </div>
            </div>
                
            <div class="outer">
                <div class="image">
                    <a href="/poem?link=chesterton"><img class="apic" src="img/chesterton.jpg"</a>
                </div>
            </div>
                
            <div class="outer">
                <div class="image">
                    <a href="/poem?link=burgess"><img class="apic" src="img/burgess.jpg"</a>
                </div>
            </div>
                
            <div class="outer">
                <div class="image">
                    <a href="/poem?link=austen"><img class="apic" src="img/austen.jpg"</a>
                </div>
            </div>
            
            <div class="outer">
                <div class="image">
                    <a href="/poem?link=kennedy"><img class="apic" src="img/kennedy.jpg"</a>
                </div>
            </div>
                
                
       </div> 
    
</div>
</div>

</div>
</div>

<div id="hidden"></div>


<!-- In the callback, you would hide the gSignInWrapper element on a
successful sign in -->
{% include "footer.html" %}