body {
  background-image: url(/images/abstract-art-1.jpg);
  background-color: red;
  background-size: cover;
}

/*@font-face {
  font-family: laine;
  src: url(/fonts/laine.TTF);
  font-size:100%;
  font-stretch:expanded;
}
*/
h3 {
    text-align: center;
}

.backdrop {
    background-color: #fff;
    opacity: .7;
    width: 70%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px; 
/*    border: solid 1px black;   */ 
}

.middle {
    margin-bottom: 50px;
}
    
.poem {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  margin-bottom: 50px;
  padding-top: 0px;
  margin-top: 20px;
}

.metapoets {
  /*border: black 1px solid;*/
  background-color: #fff ;
  opacity: .7;
  margin: auto;
  margin-top:5%;
  width: 50%;
  text-align: center;
} 

.bottombar {
  /*border: black 1px solid;*/
  background-color: #fff;
  opacity: .7;
}
