@font-face {
  font-family: garamond;
  src: url(/fonts/GaramondNo8-Regular.ttf);
  font-size:100%;
  font-stretch:expanded;
}


body {
    background-repeat: repeat-x;
    background-color: #000;
}

#header {
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    font-family: garamond;
    color: white;
    padding:0px ;
}

#subtitle {
    text-align: center;
    font-size: 30px;
    font-family: garamond;
    color: white;
    padding: 0px;
    margin-top: 0px;
}

body {
    background-image: url('/bgimg/black.jpg');
    background-size: cover;
}

    
.apic {
    width: 160px;
    height: 180px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
    
.outer {
    width: 160px;
    height: 210px;
    /*-webkit-box-shadow: 0px 0px 10px #4d4d4d;
    -moz-box-shadow: 0px 0px 10px #4d4d4d;
    box-shadow: 0px 0px 10px #4d4d4d;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    border:solid black 0px;
    overflow: hidden;
    padding: 1px;
    display: inline-block;
}
    
    
.image {
    padding: 0;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    width: 160px;
    height: 210px;
    overflow: hidden;
    display: inline-block;
}


#authorimg {
    width: 80%;
    height: 210px;
    white-space: nowrap;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a {
    color: black;
}

h2 {
    font-size: 17px;
    color: white;
    font-family: garamond;
}


/*.authorname {
    text-align: center;
    word-wrap: normal;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;


    background-color: white;
    opacity: .5;

    width: 150px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
}*/

.authorname:hover {
    
}

#authorimg { height: 235px; }
