.header {
    min-height: 200px;
    border: solid;
}


.generate {
    text-align: center;
}

.choose {
    text-align: center;
}

.sidebar {
    height: 70px;
    padding: 100px;
    margin-left: 5px;
    margin-top: 100px;
    border: solid;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.nav {
    margin-top: 150px;
}

.middle{
    border-left: solid;
    border-right: solid;
}

.authorpic {
    height: 220px;
    width: 279px;
}

.backdrop {
    background-color: #ffffff;
    opacity: .7;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.poemtitle {
    background-color: #ffffff;
    opacity: .4;
}
    
.poem {
    background-image: url("abstractArt/abstract-art-somebodys-smiling.jpg");
}

.pre {
    width: 50%;
    text-align: center;
    font-family: sans-serif;
}

.footer {
    position: relative;
    bottom: 0;
    border: solid;
    width: 100%;
}